<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - ASP.Net MVC RestfulRouting Demo</title>
        <style type="text/css">
            body {
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: smaller;
            }
            table {
                border-spacing: 0;
                border: solid 1px #ccc;
                border-collapse: collapse;
            }
            th, td {
                border: solid 1px #ccc;
                text-align: left;
                vertical-align: top;
                padding: 3px;
            }
        </style>
    </head>
    <body>
        <div><h1>@ViewBag.Title - ASP.Net MVC RestfulRouting Demo</h1></div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>